@font-face {
    font-family: 'Raleway';
    src: url('Police/Raleway-VariableFont_wght.ttf');
}

* {
    font-family: Raleway;
}

body {
    max-width: 1450px;
    margin:auto;
    padding-left: 50px;
    padding-right: 50px;
}
section, header {  
    background-color: orange;
    border-radius: 20px;
}

div {
    background-color: green;
    border-radius: 20px;
}

nav {
    border-top: 2px #0065FC solid;
}

footer {
    background-color: #F2F2F2;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* à partir d'ici je manipule la partie hébergement */
.hebergement_global {
    display:flex;
    justify-content: space-around;

}

.bloc_hebergement {
    flex-grow: 2;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.carte_hebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.hebergement {
    margin: auto;

}
.bloc_populaire {
    flex-grow: 1;    
}