@font-face {
    font-family: 'Raleway';
    src: url('Police/Raleway-VariableFont_wght.ttf');
}

* {
    font-family: Raleway;
}

body {
    max-width: 1450px;
    margin:auto;
    padding-left: 50px;
    padding-right: 50px;
}
/* gestion de la police*/
p {
    font-size: 0.9em;
}

h3 {
    font-size: 1em;
}

h2 {
    font-size: 1.4em;
}

/*fin de la gestion de la police*/

section, header {  
    background-color: orange;
    border-radius: 20px;
}
/*à partir d'ici je manipule le header*/
nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: darkgoldenrod;
}
.logo_reservia {
    flex-grow: 2;
}
.logo_reservia img {
    height: 45px;
}
nav p {
    color: #0065FC;
    background-color: coral;
    height: 45px;
    padding: 25px 25px 0 0;
    margin-top: 0;
}
.ancre {
    display: flex;
    background-color: darkgray;
}
.ancre_hebergement, .ancre_activite {
    margin-top: 0;
    background-color: crimson;
    height: 45px;
    padding: 25px 25px 0 25px;
}
.ancre_hebergement {
    border-top: 2px #0065FC solid;
    padding-top: 23px;
}
.ancre_hebergement a {
    color: #0065FC;
}
 nav a {
    text-decoration: none;
    color: black;
    height: 45px;
 }
#inscription a {
    font-weight: bold;
    color: #0065FC;
}

header h2 {
    margin-bottom: 10px;
}

@media all and (max-device-width: 480px)
{
    .ancre {
        order: 3;
        flex-grow: 1;
    }

    .ancre_activite, .ancre_hebergement {
        width: 50%;
    }

    .ancre_hebergement {
        border-top: none;
        border-bottom: 2px #0065FC solid;
    }

}
/*fin du header*/ 
/*à partir d'ici je manipule le formulaire de recherche et de filtre */
fieldset {
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.1em;
}

.formulaire1 {
    height: 50px;
    display:flex;
    justify-content: flex-start;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    color: black;
    padding-left: 20px;
    border: none;
    border-top: 2px solid #D9D9D9;
    border-bottom: 2px solid #D9D9D9;
}

input[type=search]::placeholder {
    color: black;
    opacity: 1;
}

input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 50px;
    background-color: #0065FC;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border-radius: 0 20px 20px 0;
    border: none;
    padding: 0 20px 0 20px;
}
.bouton_recherche_mobile {
    display: none;
}

.icone_recherche {
    width: 50px;
    height: 50px;
    display: table;
    
}
.icone_recherche label {
    background-color: #D9D9D9;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px 0 0 20px;
}
.formulaire2 {
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    background-color: red;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
}
.checkbox {
    display: inline-block;
    margin-bottom: 10px;
}
.bouton {
    display: inline-block;
    background-color: white;
    height: 46px;
    padding-right: 20px;
    border-radius: 25px 25px 25px 25px;
    border: 2px solid #D9D9D9;
    z-index: 1;
    position: relative;
}

.text_checkbox, .icone_checkbox {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    z-index: 2;
    position: relative;
}
.text_checkbox {
    max-width: 100%;
    line-height: 40px;
}
.icone_checkbox {
    color: #0065FC;
    width: 46px;
    background-color: #DEEBFF;
    line-height: 46px;
    border-radius: 50%;
    border: 2px solid #DEEBFF;
    bottom: 2px;
    right: 2px;
    font-size: 1.1em;
}

.bouton:hover {
    background-color: #DEEBFF;
}
.checkbox input:checked + .bouton {
    background-color: #0065FC;
    color: white;
}

.icone-fini {
    font-size: 0.70em;
    float: left;
}
.icon-background {
    color: white;
    text-shadow: 0 0 3px black;
}
.fa-info {
    color: #0065FC;
}

@media all and (max-device-width: 480px)
{
    .bouton_recherche {
        display: none;
    }
    .bouton_recherche_mobile {
        display: initial;
        position: relative;
        right: 10px;
    }
    .bouton_recherche_mobile button {
        display: table-cell;
        height: 50px;
        width: 50px;
        color: white;
        background-color: #0065FC;
        border-radius: 15px 15px 15px 15px;
        border: 2px #0065FC solid;
    }
}
/*fin de la partie recherche et filtre */

footer {
    background-color: #F2F2F2;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* à partir d'ici je manipule la partie hébergement */
.hebergement_global {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.bloc_hebergement {
    max-width: 60%;
    min-width: 750px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: 0 40px 0 40px;
}

.carte_hebergement {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    flex-direction: column;
}

.hebergement {
    background-color: white;
    width: 240px;
    height: 190px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 35px;
    box-shadow: 3px 3px 5px #D9D9D9;
    border-radius: 20px;
}

.hebergement h3, .hebergement p {
    margin: 0 0 0 15px;
}

.text_hebergement {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75px;
    max-width: 100%;
}

.image_hebergement {
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.bloc_hebergement a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

.bloc_populaire {
    width: 350px;  
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    padding: 0 40px 0px 40px;
}

.titre_populaire {
    display: flex;
    justify-content: space-between;
}

.graph_populaire {
    margin: auto;
    margin-right: 0px;
}
.carte_populaire {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
}

.populaire {
    background-color: white;
    padding: 5px 5px 5px 5px;
    width: 330px;
    margin-bottom: 30px;
    box-shadow: 3px 3px 5px #D9D9D9;
    height: 140px;
    border-radius: 20px;
}

.image_populaire {
    width: 38%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    float: left;
    object-fit: cover;
}

.text_populaire {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 62%;
    justify-content: space-around;
}

.text_populaire p:nth-child(2){
    flex-grow: 1;
}

.text_populaire h3, .text_populaire p {
    margin: 10px 0px 0px 20px;
}

.etoile {
    display: flex;
}

.etoile_pleine {
    color: #0065FC;
}

.etoile_vide {
    color: #D9D9D9;
}

@media all and (max-device-width: 1360px)
{
    .bloc_populaire {
        width: 100%;
        margin-bottom: 10px;
    }
    .carte_populaire {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .bloc_hebergement {
        max-width: 100%;
    }
}
@media all and (max-device-width: 950px)
{
    .carte_hebergement {
        height: 750px;
    }
    .bloc_hebergement {
        min-width: 500px;
    }
}
@media all and (max-device-width: 700px)
{
    .populaire {
        width: 100%;
        min-width: 310px;
    }
    .carte_hebergement {
        height: initial;
    }
    .bloc_hebergement {
        min-width: initial;
    }
    .hebergement {
        width: 100%;
        min-width: 310px;
    }
}

/*fin de la partie hébergement*/

